
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@*Bu sayfada arkadışın kendi bilgileri basabilirsiniz
    giriş yapan kişilerin bilggilerini section da tutalacak
*@
<h1>Index</h1>

